/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Sharp|Material+Icons+Round|Material+Icons+Two+Tone');
@import '~@angular/material/theming';

@include mat-core();
body {
  height: calc(100vh - 16px);
  width: calc(100vw);
  font-family: roboto;
  background-color: #121212;
  overflow-y: auto;
  overflow-x: hidden;
}

.mat-card {
  background-color: mix(#121212, white, 95%);
  .mat-card-title {
    color: white;
    opacity: 87%;
  }
  .mat-card-subtitle {
    color: white;
    opacity: 60%;
  }
  .mat-card-content {
    color: transparentize(white, 0.4);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.material-icons {
  font-family: 'Material Icons Round';
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 50px;
}
