.body-container {
  display: flex;
  flex-flow: row wrap;
  .nav {
    width: 5%;
    height: 100%;
    background: white;
    position: fixed;
    z-index: 5;
  }
  .workspace {
    margin-left: 5%;
    width: 95%;
    height: 100vh;
  }
}
